@font-face {
        font-family: 'FFFAccess';
        src: url('../fonts/FFFAccess/FFFAccess.eot');
        src: url('../fonts/FFFAccess/FFFAccess.eot?#iefix') format('embedded-opentype'),
             url('../fonts/FFFAccess/FFFAccess.woff') format('woff'),
             url('../fonts/FFFAccess/FFFAccess.ttf') format('truetype'),
             url('../fonts/FFFAccess/FFFAccess.svg#FFFAccess') format('svg');
        font-weight: normal;
        font-style: normal;
    }




@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: url('../fonts/pfd/pfdintextcomppro-light-webfont.eot');
    src: url('../fonts/pfd/pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfd/pfdintextcomppro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfd/pfdintextcomppro-light-webfont.woff') format('woff'),
         url('../fonts/pfd/pfdintextcomppro-light-webfont.ttf') format('truetype'),
         url('../fonts/pfd/pfdintextcomppro-light-webfont.svg#pf_din_text_comp_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_comp_proregular';
    src: url('../fonts/pfd/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfd/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfd/pfdintextcomppro-regular-webfont.woff2') format('woff2'),
         url('../fonts/pfd/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('../fonts/pfd/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfd/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_din_text_comp_probold';
    src: url('../fonts/pfd/pfdintextcomppro-bold-webfont.eot');
    src: url('../fonts/pfd/pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfd/pfdintextcomppro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfd/pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('../fonts/pfd/pfdintextcomppro-bold-webfont.ttf') format('truetype'),
         url('../fonts/pfd/pfdintextcomppro-bold-webfont.svg#pf_din_text_comp_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ===== PRIMARY STYLES =====================================================
   ========================================================================== */
html * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  *behavior: url(/public/css/htc-libs/boxsizing.htc);
}

.carousel-container,
.carousel-container * {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.wrapper {  
  width: 1000px;
    margin: 0 auto;
      position: relative;
}

body > header {
  width: 100%;
  float: left;
}

body > header > .row1 {
  width: 100%;
  float: left;
  height: 80px;
  background: url(../img/bg-nav.jpg) left top repeat-x;
}

body > header > .row1 nav > ul {
  width: 100%;
  float: left;
  list-style: none;
}

body > header > .row1 nav > ul > li {
  float: left;
  background: url(../img/bg-nav-li.jpg) right top repeat-y;
}

body > header > .row1 nav > ul > li.last {
  background: none;
}

/*body > header > .row1 nav ul li.active {
  background: white;
}*/

body > header > .row1 nav > ul > li.active > a,
body > header > .row1 nav > ul > li.active > a:hover {
  background: white;
  color: #282a2a;
}

body > header > .row1 nav > ul > li > a {
  display: block;
  height: 80px;
    padding: 27px 47px;
      font-family: Tahoma;
      font-size: 18px;
      color: white;
      text-decoration: none;
}

body > header > .row1 nav > ul > li > a:hover {
  background: #272727;
}

body > header > .row2 {
  width: 100%;
  float: left;
  height: 94px;
}

body > header > .row2 .contacts {
  position: absolute;
  right: 0;
  bottom: 11px;
  z-index: 1;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
    color: #1b61b5;
}

body > header > .row3 {

  width: 100%;
  float: left;
  height: 278px;
  background: #eaedf2;
    border-bottom: 1px solid #dddddd;

    box-shadow: inset 0 10px 10px 0 #cfd2d6;
    -moz-box-shadow: inset 0 10px 10px 0 #cfd2d6;
    -webkit-box-shadow: inset 0 10px 10px 0 #cfd2d6;

}

h1{
  font-family: 'pf_din_text_comp_prolight';
  font-size: 48px;
  color: #3a3a38;
  font-weight: 100;
}
h2{
  font-family: 'pf_din_text_comp_prolight';
  font-size: 42px;
  color: #3a3a38;
  font-weight: 100;
}

h3{
  font-family: 'pf_din_text_comp_prolight';
  font-size: 36px;
  color: #3a3a38;
  font-weight: 100;
}

h4{
  font-family: 'pf_din_text_comp_prolight';
  font-size: 30px;
  color: #3a3a38;
  font-weight: 100;
}

.logo {
  display: inline-block;
  position: relative;
  /*left: -12px;*/
}

.logo h1,
.logo h1 a,
.logo a,
.logo a:visited {
  font-family: 'FFFAccess', Tahoma;
  font-size: 60px;
  font-weight: normal;
  color: #1b61b5;
  text-shadow: 3px 3px 0 #e4e3e3;
}

.logo h1 small,
.logo a small {
  font-size: 42px;
}

.logo h1 span,
.logo a span {
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1;

  font-family: Tahoma;
  font-size: 18px;
  color: #464649;
  text-shadow: none;

  word-spacing: /*50*/20px;
  letter-spacing: 9px;
  margin-right: 14px;
}

/*.logo a:hover {
  color: #0066ee;
}*/

#content {
  width: 100%;
  float: left;
  background: #eaedf2;
    /*padding-bottom: 90px;*/

    border-top: 1px solid #fff;
    position: relative;
    z-index: 2;
}

#content .text h1 {
  background: url(../images/bg-header.png) left bottom repeat-x;
    padding-bottom: 10px;
      /*font-family: 'pf_din_text_comp_prolight';
      font-size: 48px;
      font-weight: 100;
      color: #3a3a38;*/

      /*text-shadow: 1px 1px 3px #666, -1px -1px 3px #fff, 1px 1px #666, -1px -1px #fff;*/
      text-shadow: 2px 2px 0 #B1B1B8;
}

#content .text h2,
#content .text h2 strong {
  padding-bottom: 10px;
  margin-top: 20px;
     /* font-family: Tahoma;
      font-size: 20px;
      color: #224f7f;
      font-weight: normal;*/
}

#content .text h1 + p {
  margin-top: 38px;
}

#content p {
  margin-top: 20px;
}

.menu > ul > li {
  position: relative;
}

.menu > ul > li:hover .sub-menu {
  display: block;
}

.sub-menu {
  display: none;
  min-width: 240px;
  padding: 15px 5px;
  list-style: inside square;
    background: url(../images/bg-nav2.jpg) left top repeat;
      position: absolute;
      left: -2px;
      top: 80px;
      z-index: 999;

      color: #c6c6c6;
}

.sub-menu li a {
  display: block;
  height: 40px;
  line-height: 40px;
    padding-left: 33px;
      font-family: Tahoma;
      font-size: 14px;
      color: #c6c6c6;
      text-decoration: none;
}

.sub-menu li a:hover {
  background: #565858;
}

#map {
  width: 100%;
  height: 320px;
      float: right;
}

label {
  display: inline-block;
  width: 80px;
}

input[type="text"] {
  width: 400px;
}

textarea {
  width: 80%;
}

.send-review-form input[type="button"] {
  position: relative;
  left: 84px;
  z-index: 1;
}

.send-review-form input[type="submit"] {
  float: right;
    position: relative;
    right: 57px;
    z-index: 1;
}

/* modifier: send-review-form __style-2 */
.send-review-form.__style-2 label {
  width: 90px;
    margin-left: 15px;
}

  .send-review-form.__style-2 label:first-child {
    margin-left: 0;
  }

/* project layer */
.send-review-form__row {

}

  .send-review-form__row.__1 input[type="text"],
  .send-review-form__row.__1 input[type="password"] {
    width: 130px;
  }

  .send-review-form__row.__2 input[type="text"],
  .send-review-form__row.__2 input[type="password"] {
    width: 251px;
  }

  .send-review-form__row.__3 textarea {
    width: 616px;
  }

  .send-review-form__row.__submit input[type="submit"] {
    right: 0;
  }

.send-review-form__row.__submit input[type="button"] {
  left: 94px;
}

.closeForm {
  width: 35px;
  height: 35px;
  background: url(../images/close_form.png) left top no-repeat;
  text-indent: -9999px;
  cursor: pointer;
    position: absolute;
    right: -16px;
    top: -16px;
    z-index: 40;
}

/* ===== DEFAULT STYLES =====================================================
   ========================================================================== */

button, input[type="submit"] {
  background-color: transparent;
  border: 0;
}

body p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body ul, ol {
  margin: 0;
  padding: 17px;
}




/* ==|== media queries ======================================================
  Media Queries for Responsive Design.
   Overrides the primary ('mobile first') styles
   ==========================================================================
   __________________________________________________________________________
   
   SUPPORTED DEVICES - Desktop, iPad, Android, iPhone and others
   __________________________________________________________________________
*/

@media only screen and (orientation: portrait) and (max-width: 800px), only screen and (orientation: landscape) and (max-width: 1000px) {
}




/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; margin: 0;}
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }



/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: 'pf_din_text_comp_prolight'; color: #3a3a38; }

body { margin: 0; font-size: 20px; /*line-height: 1.4;*/ background: url("../img/grain.png") repeat}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #0072ff; color: #fff; text-shadow: none; }
::selection { background: #0072ff; text-shadow: none; color: #fff; }



/* =============================================================================
   Links
   ========================================================================== */

a,
a:visited { color: #3a3a38; }
/*a:visited { color: #551a8b; }*/
a:hover { color: #3a3a38; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }



/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }



/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }



/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }



/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }



/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Floats */
.float-left {
  float: left;
}

.float-right {
  float: right;
}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.minh154{
    min-height: 154px !important;
}
.minh194 {min-height: 194px !important;}

.header {
    display: block;
    font-family: Tahoma, Arial !important;
    font-size: 20px !important;
    color: #3D648E !important;
}


.mr10 {margin-right: 10px !important;}
.mb20 {margin-bottom: 20px !important;}

.c_margin-left {
  margin-left: 10px;
}

.l_clearfix:after,
.l_clearfix:before {
  content: " ";
  display: table;
}

.l_clearfix:after {
  clear: both;
}


.shadow {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;

  box-shadow: 0 0 6px 1px #969696;
}

.shadow:after {
  display: block;
  height: 100%;
  width: 6px;
  content: "";
  background: #eaedf2;

  position: absolute;
  top: 0;
  left: 0;
}

.icons {
  height: 388px;
  background: #fff;
    
    box-shadow: 0 0 3px 1px #ced1d6;

    position: relative;
    top: -15px;
}

.icons:before {
  display: block;
  content: "";
  height: 3px;
  width: 100%;
  background: #fff;
    position: absolute;
    top: -3px;
    left: 0;
}

.icons__item {
  text-align: center;
    margin-bottom: 10px;
}

.work-section__column-1 {
  float: left;
}

.work-section__column-2 {
  position: relative;
  margin-left: 360px;
}

.work-section__text-block {
  
  position: relative;
  
}

.work-section__row {
  margin: 30px 30px 0;
  padding-bottom: 25px;
  height: 250px;
  border-bottom: 1px solid #eaeaea;
}

/* 2 columns */
.work-section-wrapper {
  width: 100%;
  float: left;
    /*margin: 20px 0;*/
}

  .work-section-wrapper .work-section {
    float: left;
    
  }

    .work-section-wrapper .work-section:nth-child(2n+1) {
      margin-left: 0;
    }

  .work-section-wrapper .work-section__text-block p {
    height: 189px;
  }
/* end 2 columns */

.work-section {
  padding-bottom: 3px;
  
}

.work-section__image-block {
  min-width: 320px;
  min-height: 210px;
  padding: 4px;
  position: relative;
}

.work-section__image-block > a {
  display: block;
  width: 320px;
  height: 210px;
  overflow: hidden;
  position: relative;
}


.work-section__image-block:before,
.work-section__image-block:after {
  width: 104px;
  height: 95px;
  display: block;
  content: "";

  position: absolute;
  z-index: 2;
}

.work-section__image-block:before {
  background: url(../images/image-corner-1.png) left top no-repeat;

  left: -20px;
  bottom: -20px;
}

.work-section__image-block:after {
  background: url(../images/image-corner-2.png) left top no-repeat;

  top: -20px;
  right: -20px;
}



.carousel-container,
.carousel-container img {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.carousel-container .slide {
  width: 482px !important;
}

.carousel-container .slide > img {
  width: 100% !important;
}

/* start - User reviews*/
.user-reviews {
  width: 100%;
  float: left;
  margin-top: 40px;
}

.user-reviews > h2 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.user-reviews__list {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.user-reviews__item {
  min-height: 260px;
  background: #fff;
    padding: 55px 25px 0 165px;
  border: 1px solid #CDCDCD;
  font-size: 18px;
  line-height: 21px;
  position: relative;
}

  .user-reviews__item:nth-child(2n+1) {
    /*margin-left: 0;*/
  }

.user-reviews__item img {
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 27px;
}

.user-reviews__item span {
  font-size: 22px;
  line-height: 28px;
}

.user-reviews__item hr {
   display:block;
   height:1px;
   border:0;   
   border-top:1px solid #cccccc;
   
   margin: 20px 0 10px;
   padding:0;
}

.user-reviews__item p {
  margin: 0 0 42px;

  font-size: 22px;
  line-height: 22px;
  text-align: left;
}

.user-reviews__item strong {
  display: block;
    padding-right: 15px;
  
  font-size: 24px;
  font-weight: bold;
  color: #2e2e2e;

  position: absolute;
  left: 165px;
  top: 27px;
}

/* user-reviews __width-full */
.user-reviews__item__column {
  float: left;
}
  
  .user-reviews__item__column.__1 {
    width: 30%;
    min-width: 220px;
  }

  .user-reviews__item__column.__2 {
    width: 70%;
  }

.user-reviews.__width-full .user-reviews__item {
  width: 100%;
  float: left;
  min-height: inherit;
    padding: 25px;
    margin-bottom: 20px;
}

.user-reviews.__width-full .user-reviews__item strong {
  position: static;
 margin-bottom: 10px;
}

.user-reviews.__width-full .user-reviews__item img {
  float: left;

  border-radius: 50%;

  position: static;
}

/*slider*/
.user-reviews .bx-wrapper .bx-viewport {
  background: none;

  -webkit-box-shadow: none;
  box-shadow: none;

  border: none;
  left: 0;
}

.user-reviews .bx-wrapper .bx-prev {
  left: -50px;
}

.user-reviews .bx-wrapper .bx-next {
  right: -50px;
}

/* end - User reviews*/

.c_margin-left__xxs {
  margin-left: 5px;
}

.human{
	display: none; }

.to_l{
	text-align: left; }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*Wrapper*/
.wrapper.__ver-2 {
	height: 100%;
	width: 1280px; }

/*Header*/
.header.__ver-2 > .row1 {
	height: 79px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%; }

.header.__ver-2 .menu {
	width: 100%;
	float: left; }

.header.__ver-2 .sub-menu {
	top: 78px; }

.header.__ver-2 > .row1 nav > ul > li {
	display: inline-block; }

.header.__ver-2 > .row1 nav > ul > li > a {
	height: auto;
	padding: 27px 28.5px; }

.header.__ver-2 .logo {
	height: 79px;
	padding-top: 5px;
	position: relative;
	top: -5px; }

.menu__item .logo a {
	padding-right: 18px; }

.header.__ver-2 .logo h1,
.header.__ver-2 .logo h1 a,
.header.__ver-2 .logo a,
.header.__ver-2 .logo a:visited {
	font-size: 47px;
	color: #fff;
	text-shadow: none; }

.header.__ver-2 .logo h1 small,
.header.__ver-2 .logo a small {
	font-size: 28px; }

.header.__ver-2 .logo h1 span,
.header.__ver-2 .logo a span {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 19px;
	color: #fff;
	font-weight: 100;
	word-spacing: 0;
	letter-spacing: 6px;
	top: 53px; }

#content .text h1 {
	margin-top: 15px; }

/*Promo*/
.header.__ver-2 > .row2 {
	height: auto;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 3; }

.prom {
	margin: 25px 0; }

.promo {
	padding: 27px 0; }

.promo__right {
	float: right; }

.promo__left {
	float: left; }

/*Social*/
.promo-social {
	position: relative;
	top: 5px; }

.promo-social__icon {
        
	display: inline-block;
	vertical-align: middle;
	width: 53px;
	height: 54px; }

.promo-social__icon.__f {
    background: url(../images/icons/icon-f.jpg) no-repeat;
    }

.promo-social__icon.__ok {
	background: url(../images/icons/icon-ok.jpg) no-repeat; }

.promo-social__icon.__tw {
    background: url(../img/mspsprite.png) no-repeat;
    background-position-x: -1px;
    background-position-y: -128px;}

.promo-social__icon.__vk {
    background: url(../img/mspsprite.png) no-repeat;
    background-position-x: -65px;
    background-position-y: -128px; }

/*Promo contacts*/
.promo-contacts__right {
	float: right; }

.promo-contacts__left {
	float: left;
	margin-right: 15px; }

.promo-contacts__item {
	font-family: Tahoma;
	font-size: 18px;
	color: #000;
	font-weight: normal;
	margin-top: 4px;
	letter-spacing: 1px; }

.promo-contacts__item:first-child {
	margin-top: 0; }

.promo-contacts__item.__phone {
	font-size: 29px;
	letter-spacing: 0; }

.promo-contacts__button {
    display: inline-block;
    height: 64px;
    background: url(../images/promo/buttons/button-bg-sprite.jpg) repeat-x left top;
    padding: 0 24px;
    font-family: 'pf_din_text_comp_proregular';
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
    outline: none;
    }

.promo-contacts__button:hover {
    background-color: #fd8d09;
    }

.promo-contacts__button:active {
	background: url(../images/promo/buttons/button-bg-sprite.jpg) repeat-x left bottom; }

/*Slider*/
.promo-slider {
	/*margin-bottom: 40px;*/ }

.tp-caption .horizont-form{
	padding-top: 25px;
	height: 100px;
	margin: 0; }

.__4 .tp-banner__layer-1{
	padding: 10px 50px; }

.__4 .tp-banner__layer-3{
	padding: 35px 45px;
	width: 631px;
	height: 160px; }

.promo-slider .tp-bullets {
	display: none; }

.tp-bannercontainer {
	width:100%;
	position:relative;
	padding:0; }
 
.tp-banner{
	width:100%;
	position:relative; }

.header.__ver-2 > .row3 {
	height: auto; }

.tp-banner__layer-1 {
	display: inline-block;
	background: rgba(0, 0, 0, 0.4);
	padding: 27px 90px 27px 27px;
	font-family: 'pf_din_text_comp_probold';
	font-size: 48px;
	color: #fff;
	text-align: center; }

.tp-banner__layer-3 {
	font-family: 'pf_din_text_comp_prolight';
	height: 284px;
	width: 474px;
	background: rgba(255, 255, 255, 0.34);
	padding: 25px 170px 0px 30px;
	font-weight: 300;
	font-size: 26px;
	line-height: 1.3;
	color: #000; }

.tp-banner__layer-3,
.tp-banner__layer-3 * {
	white-space: normal; }

/*Modifiers*/
.tp-banner__slide.__2 .tp-banner__layer-1 {
	min-width: 900px;
	text-align: right; }

.tp-banner__slide.__2 .tp-banner__layer-3 {
	background: rgba(255, 255, 255, 0.7);
		padding: 30px 30px 0px 200px;
		width: 524px; }

.tp-banner__slide.__3 .tp-banner__layer-1 {
	min-width: 1000px;
	padding: 40px 50px; }

.tp-banner__slide.__3 .tp-banner__layer-3 {
	min-width: 1000px;
	height: 195px;
	padding: 30px 50px 30px 50px; }

/*Form order*/
.form-order,
.form-order * {
	white-space: normal; }

.form-order {
	width: 388px;
	background: #f8b334;
	padding: 30px; }

.form-order__heading {
	font-size: 25px;
	color: #545252;
	text-align: center;
	font-family: 'pf_din_text_comp_proregular';
	margin-bottom: 15px; }

.form-order__row {
	margin-bottom: 10px; }

.form-order__row.__submit {
	margin-bottom: 0; }

.form-order__input {
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 0 0 0 24px;
	font-family: 'pf_din_text_comp_prolight';
	font-size: 22px;
	color: #827f82; }

.form-order__input[type="text"] {
	width: 100%; }

.form-order__button.__submit {
	width: 100%;
	height: 43px;
	background: #4e4c4c;
	font-family: 'pf_din_text_comp_prolight';
	font-size: 28px;
	color: #fff;
	font-weight: normal;
	text-align: center; }

#content{
	background-color: #ffffff; } 

#content .wrapper h1, h2, h3, h4{
	text-align: center; }

#content .wrapper h5{
	margin-top: 20px; }

#content .wrapper p, li{
	margin: 0; }

#content .wrapper .text-block ul{
	list-style: disc;
	padding: 0 0 0 30px;
	margin-left: 20px; }

#content .wrapper .text-block li{
	padding-left: 20px; }

.text-block{
	width: 100%;
	margin: 30px 0 0 0;
	text-align: justify; }

.our-advantages{
	width: 810px;
	margin: 30px auto 0; }

.advantages-block{
        position: relative;
	float: left;
	width: 250px;
	height: 195px;
	margin: 30px 30px 0 0;
	background-color: #f8b334; }

.advantages-block:nth-child(3n+3){
	margin-right: 0px;
}

.ad-img{
    display: block;
    float: left;
    height: 130px;
    width: 100px;
    background: url('../img/mspsprite.png') no-repeat;
	/*float: right;*/ }
.pen{
    background-position-x: -100px;
    background-position-y: -321px;
}
.gift{
    background-position-x: -100px;
    background-position-y: -191px;
}
.key{
    background-position-x: -200px;
    background-position-y: -191px;
}
.gar{
    background-position-x: 0px;
    background-position-y: -191px;
}

.pig{
    background-position-x: -200px;
    background-position-y: -321px;
}

.like{
    background-position-x: 0px;
    background-position-y: -321px;
}

.advantages-block span{
	float: right;
	width: 135px;
	height: 50px;
	margin-top: 30px;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 29px;
	color: #3a3a38; }

.advantages-block-sub{
        position: absolute;
        bottom: 0px;
        left: 0px;
	background: #4e4c4c ;
	width: 250px;
	height: 65px;
	color: #ffffff;
	text-align: justify;
	padding: 5px 10px 5px 10px; }

.our-works-v2{
	margin: 30px auto 0; }

.works-v2-block{
	position: relative;
	float: left;
	width: 318px;
	height: 230px;
	margin: 20px 23px 0 0;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 24px; }

.works-v2-block:nth-child(3n+3){
	margin-right: 0px; }

.works-v2-block-header{
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f8b334;
	font-size: 20px; }

.works-v2-block-text{
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px; }

.works-v2-block-text-b{
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px;
	background: #000000;
	opacity: 0.5;
	z-index: 1; }

.works-v2-block-text span{
	position: relative;
	padding-left: 10px;
	color: #ffffff;
	font-size: 20px;
	z-index: 2; }

.works-v2-block-text span:nth-child(2){
	float: right;
	padding: 5px 5px 0 0; }

.works-v2-block-img{
	width: 100%;
	border: none; }

.works-v2-block:hover .works-v2-block-img-h{
    opacity: 1; }

.works-v2-block:hover .works-v2-block-price{
    
	background: #f8b334;
	color: #352e35; }

.works-v2-block-img-h{
	/*display: none;*/
        opacity: 0;
        transition: 0.8s;
	position: absolute;
	width: 100%;
	height: 200px;
	top: 30px;
	left: 0;
	z-index: 1; }

.works-v2-block-img-b{
	position: absolute;
	width: 318px;
	height: 170px;
	background: #000000;
	opacity: 0.3;
	top: 0;
	left: 0;
	z-index: 1; }

.works-v2-block-img-icon{
	position: absolute;
	left: 110px;
	top: 75px;
	height: 40px;
	width: 45px;
	z-index: 2; }

.works-pop{
	width: 869px;
	position: fixed;
	left: 38%;
	top: 15%;
	margin-left: -253px;
	z-index: 9999;
	background: white;
	padding: 30px;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 24px; }
.works-pop .pop-tex{
    
      padding: 8px 0 20px 475px;
}
.works-pop img{
	float: left; }

.works-pop-cont p{
	font-size: 20px;
	clear: right;
	font-family: 'pf_din_text_comp_prolight'; }

.works-pop-cont p:last-child{
	font-family: 'pf_din_text_comp_probold'; }

.works-pop-cont span{
	margin-left: 30px;
	float: left; }



.works-pop-cont span:nth-child(2){
	float: right; }

.works-pop .send-request-form{
	width: 335px;
	position: absolute;
	right: 30px;
	bottom: 30px; }

.works-pop .send-request-form input{
	width: 335px;
	height: 40px;
	padding-left: 15px;
	margin-top: 10px; }

.price-works{
	position: relative;
	padding-top: 20px;
	margin-bottom: 20px; }

.price-works .works-v2-block{
	margin-top: 0px;
	float: left;
	width: 478px;
	height: 349px; }

.price-works h3{
	text-align: left; }

.price-works .works-v2-block-img-h, .price-works .works-v2-block-img-b{
	width: 478px;
	height: 284px; }

.price-works .works-v2-block-price{
	top: 280px;
	left: 380px; }

.price-works .works-v2-block-img-icon{
	top:125px;
	left: 175px; }

.price-works .__eye{
	left: 250px; }

.price-works table{
	font-family: 'pf_din_text_comp_proregular';
	font-size: 20px;
	width: 492px; }

.price-works td{
	padding-top: 20px;
	border-bottom: 1px dotted #7b7979; }

.price-works td:nth-child(2){
	text-align: right; }

.price-works button{
	position: absolute;
	width: 245px;
	height: 49px;
	right: 0px;
	bottom: 0px; }

.__cart{
    background: url('../img/mspsprite.png') no-repeat; 
    background-position-x: -320px;
    background-position-y: -64px; }

.__cart:hover{
    background: url('../img/mspsprite.png') no-repeat; 
    background-position-x: -320px;
    background-position-y: -128px; }

.__eye{
    background: url('../img/mspsprite.png') no-repeat; 
    background-position-x: -257px;
    background-position-y: -64px;
    left: 170px; }

.__eye:hover{
    background: url('../img/mspsprite.png') no-repeat; 
    background-position-x: -257px;
    background-position-y: -128px; }

.works-v2-block-price{
	position: absolute;
	width: 112px;
	height: 43px;
	background: #2e2e2e;
	color: #ffffff;
	z-index: 1;
	top: 188px;
	left: 216px;
	padding-top: 5px;
	text-align: center; }

.video-v2{
	width: 868px;
	margin: 50px auto 0;
    text-align: center;
    font-family: 'pf_din_text_comp_proregular';
    font-size: 24px; }

.video-block-v2{
	float: left;
	width: 276px;
	height: 270px;
	margin: 0 20px 0 0; }

.video-block-v2:nth-child(3){
	margin-right: 0px; }

.video-block-v2 > a{
    text-decoration: underline; }

.video-block-v2 > a:visited{
    text-decoration: underline; }

.horizont-form{
	width: 1000px;
	height: 186px;
	margin: 40px 0;
	background: #4e4c4c;
	text-align: center;
	padding-top: 2px; }

.horizont-form .horizont-form__heading{
	color: #ffffff;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 36px;
	margin: 20px 0; }

.horizont-form .horizont-form__input{
	width: 294px;
	height: 48px;
	margin-right: 25px;
	padding-left: 10px;
	font-family: 'pf_din_text_comp_prolight';
	font-size: 24px; }

.horizont-form .horizont-form__button{
	width: 294px;
	height: 48px;
	color: #ffffff;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 30px;
	background-color: #fc9316; }

.cat-v2{
	margin: 55px 0 0 0; }

#content .wrapper .cat-v2 h3{
	text-align: left; }

.cat-v2-item{
	float: left;
	width: 490px;
	height: 284px;
	margin: 0 20px 20px 0;
	padding: 20px 25px;
	background: #4e4c4c; }

.cat-v2-item:nth-child(2n+1){
	margin-right: 0; }

.cat-v2-item-head{
	display: block;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 30px;
	color: #ffffff; }

.cat-v2-item-head:visited{
	color: #ffffff;	}

.cat-v2-item-left{
	float: left;
	height: 215px;
	width: 212px;
	margin-top: 10px;
	text-align: center; }

.cat-v2-item-btn{
	display: block;
	height: 31px;
	margin-top: 10px;
	padding-top: 2px;
	background: #f8b334;
	color: #ffffff; }

.cat-v2-item-btn:visited{
	color: #ffffff;	}

.cat-v2-item span{
	float: left;
	display: block;
	width: 200px;
	margin: 10px 0 0 25px;
	font-size: 18px;
	color: #ffffff; }

.other-cat{
	margin-top: 20px; }

.other-cat h2{
	margin-bottom: 0px; }

.horizont-form-ex{
	height: 376px;
	margin-top: 40px; }

.horizont-form-ex-left{
	float: left;
	margin-top: 20px;
	width: 480px;
	height: 325px;
	background: #4e4c4c;
	padding: 40px;
	font-size: 36px;
	color: #ffffff; }

.horizont-form-ex-middle{
	float:left;
	width: 40px;
	height: 376px;
	background: url('../img/bg-form-ex-middle.png') no-repeat; }

.horizont-form-ex-right{
	float: left;
	width: 480px;
	height: 376px;
	background: #f8b334;
	padding: 20px 0 0 45px; }

.horizont-form-ex-right .form-order__heading{
	font-size: 32px;
	margin-bottom: 25px; }

.horizont-form-ex-right .form-order__input[type="text"]{
	margin-bottom: 10px; }

 .horizont-form-ex-right .form-order__button.__submit{
	font-size: 32px; }

.price-v2{
	width: 1000px;
	font-size: 24px;
	text-align: center; }

.price-v2 tr{
	border-bottom: 5px solid #ffffff;
	background-color: #d1d1d5; }

.price-v2 tr:nth-child(2n+2){
	background-color: #e1e1e7; }

.price-v2 .head-row{
	background-color: #4e4c4c;
	color: #ffffff; }

.price-v2 td{
    position: relative;
    width: 200px;
    height: 70px;
    vertical-align: middle;
    border-right: 2px solid #ffffff; }

.price-v2 td:first-child{
    padding-left: 20px;
    text-align: left; }

.price-v2 .item-row .promo-contacts__button{
    /*display: none;*/
    opacity: 0;
    transition: 0.1s;
    position: absolute;
    width: 180px;
    height: 40px;
    top: 12px;
    left: 8px; }

.price-v2 .item-row:hover{
    background-color: #818181;
    color: #ffffff;
    transition: 0.3s;
}
.price-v2 .item-row:hover td:nth-child(3){
    color:#818181; }

.price-v2 .item-row:hover .promo-contacts__button{
    opacity: 1; }

.price-act{
    width: 100%;
    height: 130px;
    margin-top: 40px;
    padding: 40px 0 0 45px;
    line-height: 47px;
    background: #f8b334;
    font-size: 47px; }

.price-act a:hover{
    color:#ffffff;
    transition: 0.3s; }

.price-act-pic{
    width: 178px;
    height: 150px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    background: url('../images/prices/act.png') no-repeat; }

.work-section-wrapper{
	margin-top: 50px; }

.work-section__row .promo-contacts__button{
	color: #ffffff;
	text-align: center;
	line-height: 49px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 197px;
	height: 49px; }

.work-section__row .promo-contacts__button:visited{
	color: #ffffff; }

.text-block .send-review-form{
	width: 720px;
	margin: 0 auto 50px; }

.text-block .send-review-form .send-review-form__row{
	margin-bottom: 20px !important; }

.send-review-form__row .promo-contacts__button{
	border: none;
	height: 40px;
	font-size: 25px; }

.photo-path{
	position: relative;
	left: 100px; }

.send-request-form span{
	display: block;
	margin-bottom: 15px; }


/*---------------Стили для статей---------------*/
.arct-main{
	margin-top: 30px;
	width: 100%; }

.arct-main ul{
	width: 380px;
	margin: 0 auto 30px; }

.arct-main li{
	display: inline-block; }

.arct-main li a{
	display: block;
	width: 22px;
	line-height:25px;
	color: #ffffff;
	text-align: center;
	background-color: #545252; }

.arct-main li:first-child,
.arct-main li:first-child a,
.arct-main li:last-child,
.arct-main li:last-child a{
	width: 80px; }

.arct-main li a:hover {
	color: #545252;
	background-color: #f8b334; }

.arct-main li a:visited{
	color: #ffffff; }

.arct-main li .arct-active{
	color: #545252;
	background-color: #f8b334; }

.arct{
	position: relative;
	width: 100%;
	height: 260px;
	border-bottom: 2px solid #eaeaea;
	margin-bottom: 32px; }

.arct h4{
	margin: 10px 0; }

.arct img{
	width: 262px;
	height: 187px;
	margin-right: 30px; 
	float: left;}

.arct a{
	position: absolute;
	top: 140px;
	right: 0px;
	font-size: 24px;
	text-decoration: underline; }

/*--------------Стили для Акций-----------------*/
.mar-20{
	margin: 20px 0; }

.stocks-block{
	position: relative;
	padding-bottom: 50px;
	background: url('../images/stocks.jpg') no-repeat;
	background-position-x: 670px; 
	background-position-y: 70px; }

.stocks-block .promo-contacts__button{
	height: 49px;
	margin: 30px 0 50px 190px; }

.stocks-block h4{
	margin-bottom: 10px; }

.act-item{
    width: 735px; }

.act-item span{
	display: block;
        
	font-size: 30px; }

._i{
	width: 680px; }

.stocks-counter{
	height: 135px;
	 }


.act-item{
	margin: 0 auto 100px;
	position: relative;
        height: 150px;
	width: 780px;
	border: 2px solid #f8b334;
	padding: 15px 170px 15px 60px;
	font-size: 24px; }

.act-item:hover{
    color: red; }

.act-item:hover .im-h{
    display: block;
    opacity: 0.5;}

.act-item:hover .promo-contacts__button{
    display: block;
    opacity: 1; }

.act-item:nth-child(2n+1){
	padding: 15px 60px 15px 170px; }
/*
#content .wrapper .act-item:nth-child(2n+1) p{
	margin-left: 170px;
}

.act-item:nth-child(2n+1) .promo-contacts__button{
	margin-left: 520px;
}*/

#content .wrapper .act-item:nth-child(2n+1) .psub{
	margin: 0px;
	font-size: 18px;
	position: absolute;
	left: 170px; 
	top: 75px;
	width: 325px; }

.act-item span{
	font-size: 30px; }

#content .wrapper .act-item p{
	margin-bottom: 15px; }

.act-item .promo-contacts__button{
    /*display: none;*/
    opacity: 0;
    transition: 1s;
    position: absolute;
    right: -25px;
    top: 55px;
    width: 157px;
    height: 40px;
    z-index: 9999;
}
.act-item:nth-child(2n+1) .promo-contacts__button{
    left: -35px;
}
.act-item img{
	width: 187px;
        height: 187px;
	border-radius: 50%;
	/*box-shadow:  0px 0px 15px rgba(0,0,0,0.7);*/
	position: absolute;
	right: -40px;
	top: -20px; }

.act-item .im-h{
    /*display: none;*/
    transition: 0.5s;
    width: 187px;
    height: 187px;
    border-radius: 50%;
    background: #000000;
    opacity: 0;
    position: absolute;
    right: -40px;
    top: -20px;
    z-index: 9998;}

.act-item:nth-child(2n+1) img {
	left: -50px;
	top: -20px;
}

.act-item:nth-child(2n+1) .im-h {
	left: -50px;
	top: -20px;
}

.send-review-form__row.__2 select{
	width: 253px; }

.cont{
	position: relative;
	font-size: 25px;
	margin-bottom: 50px;}

.cont h1{
	margin-bottom: 20px; }
.cont a{
	text-decoration:underline;
}
#content .wrapper .cont p{
	margin-bottom: 10px;}

.cont .to_l{
	padding: 0 10px;
	width: 320px;
	float: left; }

.cont #map{
	width: 700px; }

.bg-cont{
	display: none;
	margin: 0 auto 30px;
}


/*--------------Стили для футера----------------*/
body > footer {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 40px;
  background: #646262;    
  background-image: url('../img/bg-foot.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #ffffff; 	
}

footer .wrapper{
	height: 344px;
	padding: 0 30px;
	margin-bottom: 20px; }

.footer-left{
	float: left;
	width: 210px;
	height: 150px;
	margin: 70px 0 0 0px; }

.footer-link{
	display: block;
	font-size: 24px;
	padding-bottom: 25px;
	color: #ffffff; }

.footer-link:visited{
	color: #ffffff; }

.footer-midlle{
	margin-top: 70px;
	float: left; }

.footer-midlle .form-order{
	padding: 0;
	width: 268px;
	background: transparent; }

.footer-midlle .form-order__heading{
	color: #ffffff; }

.footer-midlle .promo-contacts__button{
	height: 40px;
    width: 100%;
    margin-bottom: 5px; }

.footer-midlle span{
	text-align: justify;
	font-size: 14px; }

.footer-right{
	margin: 70px 0 0 0;
	float: right;
	text-align: right; }

.footer-right .promo-social__icon.__f{
	background: url('../images/icons/face-w.png') no-repeat; }

.footer-right .promo-social__icon.__ok{
	background: url('../images/icons/ok-w.png') no-repeat; }

.footer-right .promo-social__icon.__tw{
    background-position-x: -1px;
    background-position-y: -64px; }

.footer-right .promo-social__icon.__vk{
    background-position-x: -65px;
    background-position-y: -64px; }

.contacts{
	font-size: 24px; }

.footer-right .promo-social{
	margin: 50px 0; }

.copyright{
	padding-top: 0px;
	font-size: 18px; }

.copyright > p > a:visited{
    color: #ffffff; }
@media(min-height: 700px) {
	.bg-cont{display: block; margin-top: -60px;}
	.cont{margin-bottom: 10px;} }

.hidden{
	display: none;
}
/*.header .header__top .container{
	height: 107px;
}*/
.popup-buy{
	position: fixed;
}

#fancybox-buttons ul {
	width: 130px;
}
#fancybox-buttons ul .btnClose{
	display: none;
}
.fancybox-close {
	top: -13px;
	right: -13px;
	z-index: 8080;
	background: url(../images/popups/popup-close.png) no-repeat;
}

/*.commback{
	padding: 15px 0px 0px 20px;
}
.commback a{
	font-size: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}*/

input:invalid, textarea:invalid {
  background-color: floralwhite;
}

#content .wrapper p {
  margin-bottom: 25px;
}
h4{
	margin-bottom: 10px;
}
h5{
	font-size: 21px;
	letter-spacing: 1px;
	word-spacing: 3px;
}

.advantages-block-sub {
  text-align: left;
  letter-spacing: 1px;
}

.closeForm {
  width: 20px;
  height: 20px;
  background: url(../images/close_form.png) center center no-repeat;
  right: 0px;
  top: 0px;
  background-color: black; }

.mb5{
	margin-bottom: 5px !important; }
.mb20{
	margin-bottom: 20px !important; }

.pop-work-sl {
  height: 346px;
  width: 445px;
  float: left;
  margin: 0;
  padding: 0;
}
.pop-work-sl ul{
    padding-top: 0px;
}
.pop-work-sl .bx-wrapper .bx-next{
    right: 20px;
}

.wsi{
    width: 100%;
    height: 300px;
    margin: 40px 0 40px 0;
    padding: 15px 0;
    background-color: #f8a94c; }

.wsi .row{
    width: 100%;
    padding: 15px 0 15px 170px; }
.wsi span{
    display: block;
    height: 64px;
    float:left;
    width: 170px;
    height: 64px;
    margin: 0 90px 0 0;
    font-family: 'pf_din_text_comp_proregular';
    font-size: 21px;}

.wsi i{
    background: url('../img/mspsprite.png') no-repeat; 
    display: block;
    float: left;
    height: 64px;
    width: 64px; }

.wsi .trash{
    background-position-x: 0px;
    background-position-y: 0px; }
    
.wsi .gar{
    background-position-x: -64px;
    background-position-y: 0px;
}

.wsi .key{
    background-position-x: -128px;
    background-position-y: 0px;
}

.wsi .cov{
    background-position-x: -193px;
    background-position-y: 0px;
}

.wsi .drel{
    background-position-x: -256px;
    background-position-y: 0px;
}

.wsi .prof{
    background-position-x: -320px;
    background-position-y: 0px;
}

.attn{
    display: block;
    float: left;
    margin: 0 5px 5px 5px;
    width: 25px;
    height: 25px;
    background: url('../img/mspsprite.png') no-repeat;
    background-position-x: -321px;
    background-position-y: -191px;
}


.closeForm {
  width: 35px;
  height: 35px;
  background: url(../img/close_form.png) left top no-repeat;
  text-indent: -9999px;
  cursor: pointer;
    position: absolute;
    right: -36px;
    top: -16px;
    z-index: 40;
}

.form {
  width: 450px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 25%;
  margin-left: -253px;
  z-index: 9999;
  text-align: center;
  background: white;
    padding: 40px 50px 23px;
  font-family: 'pf_din_text_comp_proregular';
  font-size: 24px;
}

.form p {
  margin: 0;
}

.form h2 {
  /*font-family: Tahoma;
  font-size: 18px;
  font-weight: normal;*/
  color: #77a21c;
    padding-bottom: 6px;
    margin-bottom: 32px;
      border-bottom: 1px solid #989a9c;
}

.form label,
.form .simple {
  width: auto;
  /*font-family: Tahoma;
  font-size: 14px;*/
  color: black;
}

.form label span {
  color: #9e0000;
}

.form input[type="text"],
.form textarea {
  color: #827f82;
  border: 1px solid #545252;
  resize: none;
    padding: 7px 15px;
     /* font-family: Tahoma;
      font-size: 14px;*/
      
        
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.form input[type="text"] {
  width: 100%;
  height: 32px;
    margin-bottom: 15px;
}

.form .captcha {
  margin: 10px 0;
}

.form textarea {
  width: 100%;
  height: 122px;
    margin-bottom: 15px;
}

.form select {
  margin-bottom: 15px;
    color: black;
}

.form input[type="radio"] {
  margin-left: 15px;
  margin-bottom: 15px;
}

.form input[type="radio"]:first-child {
  margin-left: 0;
}

.form .submit {
  margin-top: 0px;
}

.form .submit span {
  /*font-family: Tahoma;
  font-size: 12px;
  color: #8f8f8f;*/
    position: relative;
    top: 10px;
    left: 0;
    z-index: 40;
}

.form .submit input[type="submit"] {
  
  width: 100%;
  height: 45px;
  /*background: url(../images/bg_submit.png) left top no-repeat;*/
    position: relative;

   
}