
.human{
	display: none; }

.to_l{
	text-align: left; }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*Wrapper*/
.wrapper.__ver-2 {
	height: 100%;
	width: 1280px; }

/*Header*/
.header.__ver-2 > .row1 {
	height: 79px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%; }

.header.__ver-2 .menu {
	width: 100%;
	float: left; }

.header.__ver-2 .sub-menu {
	top: 78px; }

.header.__ver-2 > .row1 nav > ul > li {
	display: inline-block; }

.header.__ver-2 > .row1 nav > ul > li > a {
	height: auto;
	padding: 27px 28.5px; }

.header.__ver-2 .logo {
	height: 79px;
	padding-top: 5px;
	position: relative;
	top: -5px; }

.menu__item .logo a {
	padding-right: 18px; }

.header.__ver-2 .logo h1,
.header.__ver-2 .logo h1 a,
.header.__ver-2 .logo a,
.header.__ver-2 .logo a:visited {
	font-size: 47px;
	color: #fff;
	text-shadow: none; }

.header.__ver-2 .logo h1 small,
.header.__ver-2 .logo a small {
	font-size: 28px; }

.header.__ver-2 .logo h1 span,
.header.__ver-2 .logo a span {
	font-family: 'Myriad Pro', sans-serif;
	font-size: 19px;
	color: #fff;
	font-weight: 100;
	word-spacing: 0;
	letter-spacing: 6px;
	top: 53px; }

#content .text h1 {
	margin-top: 15px; }

/*Promo*/
.header.__ver-2 > .row2 {
	height: auto;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 3; }

.prom {
	margin: 25px 0; }

.promo {
	padding: 27px 0; }

.promo__right {
	float: right; }

.promo__left {
	float: left; }

/*Social*/
.promo-social {
	position: relative;
	top: 5px; }

.promo-social__icon {
	display: inline-block;
	vertical-align: middle;
	width: 53px;
	height: 54px; }

.promo-social__icon.__f {
	background: url(../images/icons/icon-f.jpg) no-repeat; }

.promo-social__icon.__ok {
	background: url(../images/icons/icon-ok.jpg) no-repeat; }

.promo-social__icon.__tw {
	background: url(../images/icons/icon-tw.jpg) no-repeat; }

.promo-social__icon.__vk {
	background: url(../images/icons/icon-vk.jpg) no-repeat;	}

/*Promo contacts*/
.promo-contacts__right {
	float: right; }

.promo-contacts__left {
	float: left;
	margin-right: 15px; }

.promo-contacts__item {
	font-family: Tahoma;
	font-size: 18px;
	color: #000;
	font-weight: normal;
	margin-top: 4px;
	letter-spacing: 1px; }

.promo-contacts__item:first-child {
	margin-top: 0; }

.promo-contacts__item.__phone {
	font-size: 29px;
	letter-spacing: 0; }

.promo-contacts__button {
	display: inline-block;
	height: 64px;
	background: url(../images/promo/buttons/button-bg-sprite.jpg) repeat-x left top;
	padding: 0 24px;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 30px;
	color: #fff;
	font-weight: normal;
    letter-spacing: 1px;
	outline: none; }

.promo-contacts__button:hover {
	background: #fd8d09; }

.promo-contacts__button:active {
	background: url(../images/promo/buttons/button-bg-sprite.jpg) repeat-x left bottom; }

/*Slider*/
.promo-slider {
	/*margin-bottom: 40px;*/ }

.tp-caption .horizont-form{
	padding-top: 25px;
	height: 100px;
	margin: 0; }

.__4 .tp-banner__layer-1{
	padding: 10px 50px; }

.__4 .tp-banner__layer-3{
	padding: 35px 45px;
	width: 631px;
	height: 160px; }

.promo-slider .tp-bullets {
	display: none; }

.tp-bannercontainer {
	width:100%;
	position:relative;
	padding:0; }
 
.tp-banner{
	width:100%;
	position:relative; }

.header.__ver-2 > .row3 {
	height: auto; }

.tp-banner__layer-1 {
	display: inline-block;
	background: rgba(0, 0, 0, 0.4);
	padding: 27px 90px 27px 27px;
	font-family: 'pf_din_text_comp_probold';
	font-size: 48px;
	color: #fff;
	text-align: center; }

.tp-banner__layer-3 {
	font-family: 'pf_din_text_comp_prolight';
	height: 284px;
	width: 474px;
	background: rgba(255, 255, 255, 0.34);
	padding: 25px 170px 0px 30px;
	font-weight: 300;
	font-size: 26px;
	line-height: 1.3;
	color: #000; }

.tp-banner__layer-3,
.tp-banner__layer-3 * {
	white-space: normal; }

/*Modifiers*/
.tp-banner__slide.__2 .tp-banner__layer-1 {
	min-width: 900px;
	text-align: right; }

.tp-banner__slide.__2 .tp-banner__layer-3 {
	background: rgba(255, 255, 255, 0.7);
		padding: 25px 30px 0px 200px;
		width: 524px; }

.tp-banner__slide.__3 .tp-banner__layer-1 {
	min-width: 1000px;
	padding: 40px 50px; }

.tp-banner__slide.__3 .tp-banner__layer-3 {
	min-width: 1000px;
	height: 195px;
	padding: 30px 50px 30px 50px; }

/*Form order*/
.form-order,
.form-order * {
	white-space: normal; }

.form-order {
	width: 388px;
	background: #f8b334;
	padding: 30px; }

.form-order__heading {
	font-size: 25px;
	color: #545252;
	text-align: center;
	font-family: 'pf_din_text_comp_proregular';
	margin-bottom: 15px; }

.form-order__row {
	margin-bottom: 10px; }

.form-order__row.__submit {
	margin-bottom: 0; }

.form-order__input {
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 0 0 0 24px;
	font-family: 'pf_din_text_comp_prolight';
	font-size: 22px;
	color: #827f82; }

.form-order__input[type="text"] {
	width: 100%; }

.form-order__button.__submit {
	width: 100%;
	height: 43px;
	background: #4e4c4c;
	font-family: 'pf_din_text_comp_prolight';
	font-size: 28px;
	color: #fff;
	font-weight: normal;
	text-align: center; }

#content{
	background-color: #ffffff; } 

#content .wrapper h1, h2, h3, h4{
	text-align: center; }

#content .wrapper h5{
	margin-top: 20px; }

#content .wrapper p, li{
	margin: 0; }

#content .wrapper .text-block ul{
	list-style: disc;
	padding: 0 0 0 30px;
	margin-left: 20px; }

#content .wrapper .text-block li{
	padding-left: 20px; }

.text-block{
	width: 100%;
	margin: 30px 0 0 0;
	text-align: justify; }

.our-advantages{
	width: 810px;
	margin: 30px auto 0; }

.advantages-block{
	float: left;
	width: 250px;
	height: 195px;
	margin: 30px 30px 0 0;
	background-color: #f8b334; }

.advantages-block:nth-child(3n+3){
	margin-right: 0px;
}

.advantage-block img{
	/*float: right;*/ }

.advantages-block span{
	float: right;
	width: 135px;
	height: 50px;
	margin-top: 30px;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 29px;
	color: #3a3a38; }

.advantages-block-sub{
	background: #4e4c4c ;
	width: 250px;
	height: 65px;
	color: #ffffff;
	text-align: justify;
	padding: 5px 10px 5px 10px; }

.our-works-v2{
	margin: 30px auto 0; }

.works-v2-block{
	position: relative;
	float: left;
	width: 318px;
	height: 249px;
	margin: 20px 23px 0 0;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 24px; }

.works-v2-block:nth-child(3n+3){
	margin-right: 0px; }

.works-v2-block-header{
	height: 60px;
	padding: 2px 20px;
	background: #f8b334; }

.works-v2-block-img{
	width: 100%;
	/*width: 318px;
	height: 188px;*/
	border: none; }

.works-v2-block:hover .works-v2-block-img-h{
	display: block; }

.works-v2-block:hover .works-v2-block-price{
	background: #f8b334;
	color: #352e35; }

.works-v2-block-img-h{
	display: none;
	position: absolute;
	width: 100%;
	height: 188px;
	top: 60px;
	left: 0;
	z-index: 1; }

.works-v2-block-img-b{
	position: absolute;
	width: 318px;
	height: 188px;
	background: #000000;
	opacity: 0.3;
	top: 0;
	left: 0;
	z-index: 1; }

.works-v2-block-img-icon{
	position: absolute;
	left: 110px;
	top: 75px;
	height: 40px;
	width: 40px;
	z-index: 2; }

.price-works{
	position: relative;
	padding-top: 20px;
	margin-bottom: 20px; }

.price-works .works-v2-block{
	margin-top: 0px;
	float: left;
	width: 478px;
	height: 349px; }

.price-works h3{
	text-align: left; }

.price-works .works-v2-block-img-h, .price-works .works-v2-block-img-b{
	width: 478px;
	height: 284px; }

.price-works .works-v2-block-price{
	top: 280px;
	left: 380px; }

.price-works .works-v2-block-img-icon{
	top:125px;
	left: 175px; }

.price-works .__eye{
	left: 250px; }

.price-works table{
	font-family: 'pf_din_text_comp_proregular';
	font-size: 20px;
	width: 492px; }

.price-works td{
	padding-top: 20px;
	border-bottom: 1px dotted #7b7979; }

.price-works td:nth-child(2){
	text-align: right; }

.price-works button{
	position: absolute;
	width: 245px;
	height: 49px;
	right: 0px;
	bottom: 0px; }

.__cart{
	background: url('../img/cart.png') no-repeat; }

.__cart:hover{
	background: url('../img/cart-h.png') no-repeat; }

.__eye{
	background: url('../img/eye.png') no-repeat;
	left: 170px; }

.__eye:hover{
	background: url('../img/eye-h.png') no-repeat; }

.works-v2-block-price{
	position: absolute;
	width: 112px;
	height: 43px;
	background: #2e2e2e;
	color: #ffffff;
	z-index: 1;
	top: 188px;
	left: 216px;
	padding-top: 5px;
	text-align: center; }

.video-v2{
	width: 868px;
	margin: 50px auto 0;
    text-align: center;
    font-family: 'pf_din_text_comp_proregular';
    font-size: 24px; }

.video-block-v2{
	float: left;
	width: 276px;
	height: 270px;
	margin: 0 20px 0 0; }

.video-block-v2:nth-child(3){
	margin-right: 0px; }

.video-block-v2 > a{
    text-decoration: underline; }

.video-block-v2 > a:visited{
    text-decoration: underline; }

.horizont-form{
	width: 1000px;
	height: 186px;
	margin: 55px 0;
	background: #4e4c4c;
	text-align: center;
	padding-top: 2px; }

.horizont-form .horizont-form__heading{
	color: #ffffff;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 36px;
	margin: 20px 0; }

.horizont-form .horizont-form__input{
	width: 294px;
	height: 48px;
	margin-right: 25px;
	padding-left: 10px;
	font-family: 'pf_din_text_comp_prolight';
	font-size: 24px; }

.horizont-form .horizont-form__button{
	width: 294px;
	height: 48px;
	color: #ffffff;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 30px;
	background-color: #fc9316; }

.cat-v2{
	margin: 55px 0 0 0; }

#content .wrapper .cat-v2 h3{
	text-align: left; }

.cat-v2-item{
	float: left;
	width: 490px;
	height: 284px;
	margin: 0 20px 20px 0;
	padding: 20px 25px;
	background: #4e4c4c; }

.cat-v2-item:nth-child(2n+1){
	margin-right: 0; }

.cat-v2-item-head{
	display: block;
	font-family: 'pf_din_text_comp_proregular';
	font-size: 30px;
	color: #ffffff; }

.cat-v2-item-head:visited{
	color: #ffffff;	}

.cat-v2-item-left{
	float: left;
	height: 215px;
	width: 212px;
	margin-top: 10px;
	text-align: center; }

.cat-v2-item-btn{
	display: block;
	height: 31px;
	margin-top: 10px;
	padding-top: 2px;
	background: #f8b334;
	color: #ffffff; }

.cat-v2-item-btn:visited{
	color: #ffffff;	}

.cat-v2-item span{
	float: left;
	display: block;
	width: 200px;
	margin: 10px 0 0 25px;
	font-size: 18px;
	color: #ffffff; }

.other-cat{
	margin-top: 20px; }

.other-cat h2{
	margin-bottom: 0px; }

.horizont-form-ex{
	height: 376px;
	margin: 100px 0; }

.horizont-form-ex-left{
	float: left;
	margin-top: 20px;
	width: 480px;
	height: 325px;
	background: #4e4c4c;
	padding: 40px;
	font-size: 36px;
	color: #ffffff; }

.horizont-form-ex-middle{
	float:left;
	width: 40px;
	height: 376px;
	background: url('../img/bg-form-ex-middle.png') no-repeat; }

.horizont-form-ex-right{
	float: left;
	width: 480px;
	height: 376px;
	background: #f8b334;
	padding: 20px 0 0 45px; }

.horizont-form-ex-right .form-order__heading{
	font-size: 32px;
	margin-bottom: 25px; }

.horizont-form-ex-right .form-order__input[type="text"]{
	margin-bottom: 10px; }

 .horizont-form-ex-right .form-order__button.__submit{
	font-size: 32px; }

.price-v2{
	width: 1000px;
	font-size: 24px;
	text-align: center; }

.price-v2 tr{
	border-bottom: 5px solid #ffffff;
	background-color: #d1d1d5; }

.price-v2 tr:nth-child(2n+2){
	background-color: #e1e1e7; }

.price-v2 .head-row{
	background-color: #4e4c4c;
	color: #ffffff; }

.price-v2 td{
	height: 62px;
	vertical-align: middle;
	border-right: 2px solid #ffffff; }

.price-v2 td:first-child{
	width: 214px;
	padding-left: 20px;
	text-align: left; }

.price-v2 td:first-child + td{
	width: 155px; }

.price-v2 td:first-child + td + td{
	width: 200px; }

.price-v2 td:first-child + td + td + td{
	width: 123px; }

.price-v2 td:first-child + td + td + td + td{
	width: 138px;
	border-right: none; }

.price-v2 td:first-child + td + td + td + td + td{
	background-color: #ffffff;
	border-right: none; }

.price-v2 button{
	float: right;
	width: 150px;
	height: 49px; }

.work-section-wrapper{
	margin-top: 50px; }

.work-section__row .promo-contacts__button{
	color: #ffffff;
	text-align: center;
	line-height: 49px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 197px;
	height: 49px; }

.work-section__row .promo-contacts__button:visited{
	color: #ffffff; }

.text-block .send-review-form{
	width: 710px;
	margin: 0 auto 50px; }

.text-block .send-review-form .send-review-form__row{
	margin-bottom: 20px !important; }

.send-review-form__row .promo-contacts__button{
	border: none;
	height: 40px;
	font-size: 25px; }

.photo-path{
	position: relative;
	left: 100px; }

.send-request-form span{
	display: block;
	margin-bottom: 15px; }


/*---------------Стили для статей---------------*/
.arct-main{
	margin-top: 30px;
	width: 100%; }

.arct-main ul{
	width: 380px;
	margin: 0 auto 30px; }

.arct-main li{
	display: inline-block; }

.arct-main li a{
	display: block;
	width: 22px;
	line-height:25px;
	color: #ffffff;
	text-align: center;
	background-color: #545252; }

.arct-main li:first-child,
.arct-main li:first-child a,
.arct-main li:last-child,
.arct-main li:last-child a{
	width: 80px; }

.arct-main li a:hover {
	color: #545252;
	background-color: #f8b334; }

.arct-main li a:visited{
	color: #ffffff; }

.arct-main li .arct-active{
	color: #545252;
	background-color: #f8b334; }

.arct{
	position: relative;
	width: 100%;
	height: 260px;
	border-bottom: 2px solid #eaeaea;
	margin-bottom: 32px; }

.arct h4{
	margin: 10px 0; }

.arct img{
	width: 262px;
	height: 187px;
	margin-right: 30px; 
	float: left;}

.arct a{
	position: absolute;
	top: 140px;
	right: 0px;
	font-size: 24px;
	text-decoration: underline; }

/*--------------Стили для Акций-----------------*/
.mar-20{
	margin: 20px 0; }

.stocks-block{
	position: relative;
	padding-bottom: 50px;
	background: url('../images/stocks.jpg') no-repeat;
	background-position-x: 670px; 
	background-position-y: 70px; }

.stocks-block .promo-contacts__button{
	height: 49px;
	margin: 30px 0 50px 190px; }

.stocks-block h4{
	margin-bottom: 10px; }

.act-item{
	width: 735px; }

.act-item span{
	display: block;
	font-size: 30px; }

._i{
	width: 680px; }

.stocks-counter{
	height: 135px;
	 }


.act-item{
	margin: 0 auto 100px;
	position: relative;
	width: 780px;
	border: 2px solid #f8b334;
	padding: 15px 0px 15px 60px;
	font-size: 24px; }

.act-item:nth-child(2n+1){
	padding: 15px 60px 15px 0px;
}

#content .wrapper .act-item:nth-child(2n+1) p{
	margin-left: 170px;
}

.act-item:nth-child(2n+1) .promo-contacts__button{
	margin-left: 520px;
}

#content .wrapper .act-item:nth-child(2n+1) .psub{
	margin: 0px;
	font-size: 18px;
	position: absolute;
	left: 170px; 
	top: 80px;
	width: 325px; }

.act-item:nth-child(2n+1) img{
	left: -40px;
	top: -20px;
}

.act-item span{
	font-size: 30px; }

#content .wrapper .act-item p{
	margin-bottom: 15px; }

.act-item .promo-contacts__button{
	width: 197px;
	height: 40px;
}
.act-item img{
	width: 187px;
	border-radius: 50%;
	box-shadow:  0px 0px 15px rgba(0,0,0,0.7);
	position: absolute;
	right: -40px;
	top: -20px; }

.send-review-form__row.__2 select{
	width: 253px; }

.cont{
	position: relative;
	font-size: 25px;
	margin-bottom: 50px;}

.cont h1{
	margin-bottom: 20px; }
.cont a{
	text-decoration:underline;
}
#content .wrapper .cont p{
	margin-bottom: 10px;}

.cont .to_l{
	padding: 0 10px;
	width: 320px;
	float: left; }

.cont #map{
	width: 700px; }

.bg-cont{
	display: none;
	margin: 0 auto 30px;
}


/*--------------Стили для футера----------------*/
footer{
	margin-top: 50px;
    background: #646262;    
    background-image: url('../images/bg-foot.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: #ffffff; }

footer .wrapper{
	height: 344px;
	padding: 0 30px;
	margin-bottom: 20px; }

.footer-left{
	float: left;
	width: 210px;
	height: 150px;
	margin: 70px 0 0 0px; }

.footer-link{
	display: block;
	font-size: 24px;
	padding-bottom: 25px;
	color: #ffffff; }

.footer-link:visited{
	color: #ffffff; }

.footer-midlle{
	margin-top: 70px;
	float: left; }

.footer-midlle .form-order{
	padding: 0;
	width: 268px;
	background: transparent; }

.footer-midlle .form-order__heading{
	color: #ffffff; }

.footer-midlle .promo-contacts__button{
	height: 40px;
    width: 100%;
    margin-bottom: 5px; }

.footer-midlle span{
	text-align: justify;
	font-size: 14px; }

.footer-right{
	margin: 70px 0 0 0;
	float: right;
	text-align: right; }

.footer-right .promo-social__icon.__f{
	background: url('../images/icons/face-w.png') no-repeat; }

.footer-right .promo-social__icon.__ok{
	background: url('../images/icons/ok-w.png') no-repeat; }

.footer-right .promo-social__icon.__tw{
	background: url('../images/icons/tweet-w.png') no-repeat; }

.footer-right .promo-social__icon.__vk{
	background: url('../images/icons/vk-w.png') no-repeat; }

.contacts{
	font-size: 24px; }

.footer-right .promo-social{
	margin: 50px 0; }

.copyright{
	padding-top: 0px;
	font-size: 18px; }

.copyright > p > a:visited{
    color: #ffffff; }
@media(min-height: 700px) {
	.bg-cont{display: block; margin-top: -60px;}
	.cont{margin-bottom: 10px;}}