@charset "IBM866";
/* Layer 0 - Reset */
/*
    Combination of http://meyerweb.com/eric/tools/css/reset/, http://github.com/necolas/normalize.css, http://ru.html5boilerplate.com and personal experience
    by Robert Haritonov http://rhr.me/rreset
*/
html, body, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q,
samp, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, canvas, embed,
figcaption, hgroup, output, ruby, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*
 * Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body {
  width: 100%;
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover, a:active {
  outline: none; }

blockquote, q {
  quotes: none;
  margin: 1em 40px; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/*
 * Addresses styling not present in 8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b, strong {
  font-weight: 700; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in S5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Corrects inline-block display not defined in 8/9 & FF3
 */
audio[controls], canvas, video {
  display: inline-block; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/*
 * Addresses margin not present in 8/9, S5, O11
 */
figure {
  margin: 0; }

/*
 * Define consistent margin and padding
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE8/9
 */
legend {
  border: 0;
  /* 1 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */ }

/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 */
button, input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in 8/9
 * 2. Improves readability and aligment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* Layer 1 - Base */
/* Сообщение о том, что браузер устарел */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body {
  min-height: 100%; }

html {
  background: #DDDDDD; }

body {
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 5px; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 23px; }

h4 {
  font-size: 21px; }

h5,
h6 {
  font-size: 18px; }

a {
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  color: #000;
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

.wrapper {
  min-width: 1000px; }

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after,
.row:after {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.logo {
  display: inline-block; }

.header .logo {
  position: relative;
  top: -7px; }

.button-1 {
  display: inline-block;
  vertical-align: middle;
  width: 165px;
  height: 33px;
  background: #bebebe;
  border-radius: 3px;
  border: none;
  font-family: 'Calibri', sans-serif;
  font-size: 19px;
  color: #000;
  outline: none; }

.button-2 {
  display: inline-block;
  vertical-align: middle;
  width: 165px;
  height: 33px;
  background: #fc8721;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fc8721 0%, #e75809 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc8721), color-stop(100%, #e75809));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fc8721 0%, #e75809 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fc8721 0%, #e75809 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fc8721 0%, #e75809 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fc8721 0%, #e75809 100%);
  /* W3C */
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #f78f38;
  font-family: Arial;
  font-size: 16px;
  color: #fffefe;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  outline: none; }

.button-2:hover {
  background: #fc9237;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fc9237 0%, #e96922 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc9237), color-stop(100%, #e96922));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fc9237 0%, #e96922 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fc9237 0%, #e96922 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fc9237 0%, #e96922 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fc9237 0%, #e96922 100%);
  /* W3C */ }

.button-2:active {
  background: #e8590a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e8590a 0%, #fd8821 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8590a), color-stop(100%, #fd8821));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e8590a 0%, #fd8821 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e8590a 0%, #fd8821 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e8590a 0%, #fd8821 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e8590a 0%, #fd8821 100%);
  /* W3C */ }

.projects-item__footer .button-2 {
  width: 200px; }

.button-2.__style-2 {
  width: 100%; }

.form-consult .button-2 {
  width: 204px; }

.form-wrapper {
  margin: 32px 0; }

.content-module.__style-2 .form-wrapper {
  margin-bottom: 0; }

.form {
  width: 790px;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  padding: 10px;
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
  color: #fff;
  border: 1px solid rgba(167, 166, 166, 0.7); }

.ie8 .form {
  background: #484848; }

.form-call {
  width: 100%;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  color: #000; }

.ie8 .form-call {
  background: none; }

.form-order {
  position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: -395px; }

.form-order.__style-2 {
  position: static;
  left: auto;
  bottom: auto;
  margin: 0 auto; }

.form-consult {
  width: 100%;
  padding: 10px 20px 25px;
  border: none; }

.form-buy,
.ie8 .form-buy {
  width: 436px;
  background: none;
  margin: 0 auto;
  padding: 0;
  border: none; }

.form-buy input[type="text"],
.form-buy input[type="password"],
.form-buy select {
  width: 100%;
  height: 33px;
  background: #f0f0f0;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  color: #000; }

.ie8 .form-buy input[type="text"],
.ie8 .form-buy input[type="password"] {
  line-height: 33px; }

.form-buy label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 16px;
  color: #0f0f0f;
  cursor: pointer; }

.form-buy .form__item {
  margin-bottom: 14px; }

.form-buy .form__item.__price {
  margin-top: 25px; }

.form__hint {
  line-height: 1.2;
  font-size: 16px;
  color: #d2d2d2; }

.form-order.__style-2 .form__hint {
  text-align: center;
  margin-bottom: 13px; }

.form-order.__style-2 .form__hint:last-child {
  margin-top: 15px; }

.form__heading {
  line-height: 0.9;
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px; }

.form-consult .form__heading,
.form-order.__style-2 .form__heading {
  font-size: 28px;
  letter-spacing: -1px;
  margin: 2px 0 5px; }

.form-order.__style-2 .form__heading {
  margin: 0 0 3px; }

.form__heading-highlighted {
  color: #e4c100; }

.form-item {
  display: inline-block;
  margin-right: 10px; }

.form-item:last-child {
  margin-left: 0; }

.form-call .form__item {
  margin-top: 15px; }

.form-call .form__item:first-child {
  margin-top: 8px; }

.form-call .form__item.__submit {
  margin-top: 25px; }

.form-order .form-item {
  margin-left: 4px; }

.form-order .form-item:first-child,
.form-order .form__heading:first-child + .form-item,
.form-order .form-item.__1 {
  margin-left: 14px; }

.form-order .form-item.__submit {
  margin-left: 14px; }

.form-consult .form-item {
  display: block;
  margin: 18px 0 0 0; }

.form-consult .form-item.__submit {
  margin-bottom: 10px;
  margin-top: 14px; }

.form-item__column {
  display: inline-block; }

.form-item__column.__1 {
  width: 104px; }

.form__label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  font-size: 19px;
  color: #fff;
  cursor: pointer; }

.form-call .form__label {
  font-size: 20px;
  font-weight: bold;
  color: #010101;
  margin-bottom: 3px; }

.form__input {
  display: inline-block;
  vertical-align: middle;
  width: 204px;
  height: 33px;
  background: #f0f0f0;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 14px;
  color: #010101; }

.ie8 .form__input {
  line-height: 33px; }

.form-call .form__input {
  width: 100%; }

.heading-1 {
  font-family: 'Calibri', sans-serif;
  font-size: 35px;
  color: #000;
  font-weight: bold;
  text-align: center; }

.heading-2 {
  font-family: 'Calibri', sans-serif;
  font-size: 42px;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 23px; }

.popup-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 98; }

.popup {
  display: none;
  background: #f0f0f0;
  padding: 22px;
  border-radius: 5px;
  border: 1px solid #646464;
  position: absolute;
  left: 50%;
  top: 200px;
  z-index: 99; }

.popup:after,
.popup:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.popup:after {
  border-color: rgba(240, 240, 240, 0);
  border-bottom-color: #f0f0f0;
  border-width: 20px;
  margin-left: -20px; }

.popup:before {
  border-color: rgba(100, 100, 100, 0);
  border-bottom-color: #646464;
  border-width: 21px;
  margin-left: -21px; }

.popup.__style-2:after,
.popup.__style-2:before {
  top: 100%;
  bottom: auto; }

.popup.__style-2:after {
  border-bottom-color: transparent;
  border-top-color: #f0f0f0; }

.popup.__style-2:before {
  border-bottom-color: transparent;
  border-top-color: #646464; }

.popup-call {
  width: 248px; }

.popup-close {
  font-family: 'Calibri', sans-serif;
  font-size: 20px;
  color: #000;
  position: absolute;
  right: 14px;
  top: 6px;
  cursor: pointer; }

.popup-close__text {
  text-decoration: underline;
  margin-right: 5px; }

.popup-close:hover .popup-close__text {
  text-decoration: none; }

.popup-2 {
  display: none;
  width: 797px;
  background: #fff;
  padding: 15px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 20px;
  left: 30%;
  z-index: 99; }

.ie8 .popup-2 {
  border: 1px solid gray; }

.popup-buy {
  padding-top: 82px;
  padding-bottom: 12px; }

.popup-2__close {
  display: block;
  width: 33px;
  height: 32px;
  background: url(../images/popups/popup-close.png) no-repeat;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 2;
  cursor: pointer; }

.ie8 .popup-2__close {
  background-color: #fff;
  border: 1px solid gray; }

.popup-2__close:after {
  opacity: 0;
  display: block;
  content: " ";
  background: url(../images/popups/popup-close-hover.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.popup-2__close:hover:after {
  opacity: 1; }

.icon-close {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 18px;
  background: url(../images/icons/icon-close.png) no-repeat; }

.icon-eye {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/icons/icon-eye.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2; }

.houses-item__body .icon-eye {
  margin-top: -35px; }

/* Layer 2 - Project */
.header__top {
  position: relative;
  z-index: 2; }

.ie9 .header__top,
.ie8 .header__top {
  overflow: hidden;
  height: 100px; }

.header__top .container {
  background: #2d2d2d;
  padding: 7px 45px 7px 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.85); }

.header-headings {
  display: inline-block;
  width: 418px;
  margin: 0 20px;
  text-align: center;
  position: relative;
  top: -20px; }

.ie9 .header-headings,
.ie8 .header-headings {
  top: -70px;
  margin-left: 200px; }

.header-headings__item {
  font-family: 'Calibri', sans-serif;
  font-size: 26px;
  color: #fff;
  font-weight: normal;
  text-shadow: 2px 2px 3px #000;
  margin-top: 8px; }

.header-headings__item:first-child {
  margin-top: 0; }

.payment .contacts {
  position: relative;
  top: 22px;
  left: -25px; }

.contacts__item {
  margin-top: 12px; }

.contacts__phone {
  line-height: 0.7;
  font-family: 'Calibri', sans-serif;
  font-size: 38px;
  color: #fff;
  font-weight: normal;
  text-shadow: 2px 2px 3px #000; }

.header .contacts__phone {
  position: relative;
  top: 15px; }

.contacts__button-wrapper {
  text-align: center;
  padding-left: 21px; }

.promo {
  height: 513px;
  background: url(../images/promo/promo-bg.jpg) no-repeat;
  padding-top: 20px;
  position: relative; }

.promo__heading {
  line-height: 1.1;
  font-family: 'Calibri', sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 3px #000;
  margin-top: -3px; }

.why-module .container {
  background: #fff;
  padding: 7px 0 12px; }

.why-module__item {
  line-height: 1;
  width: 25%;
  float: left;
  font-family: 'Calibri', sans-serif;
  font-size: 17px;
  color: #000;
  text-align: center; }

.content-module .container {
  background: #f0f0f0;
  padding: 35px 0 40px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8; }

.content-module.__style-2 .container {
  padding: 19px 45px 40px; }

.content-module.__style-3 .container {
  padding: 0;
  border: none; }

.content-module__column {
  float: left; }

.content-module__column.__1 {
  width: 515px; }

.content-module__column.__2 {
  width: 475px;
  padding: 0 37px 0 45px; }

.about-module {
  line-height: 1.2;
  background: #fefefe;
  padding: 8px 44px 10px;
  border-top: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
  color: #000; }

.about-module h1,
.about-module h2,
.about-module h3,
.about-module h4,
.about-module h5,
.about-module h6 {
  margin-bottom: 6px; }

.about-module p {
  font-size: 18px;
  margin-bottom: 29px; }

.projects-item {
  float: left;
  width: 48%;
  margin-left: 4%;
  margin-bottom: 43px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }

.ie8 .projects-item {
  width: 50%;
  margin-left: 0; }

.projects-item:nth-child(odd) {
  margin-left: 0; }

.projects-item__header {
  height: 32px;
  border-radius: 5px 5px 0 0;
  background: #fff;
  position: relative; }

.projects-item__heading {
  display: inline-block;
  vertical-align: middle;
  padding-top: 17px;
  font-family: 'Calibri', sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase; }

.projects-item__body {
  background: #fff;
  padding: 35px 15px 8px;
  text-align: center; }

.projects-item__image-block {
  display: inline-block;
  height: 234px;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

.projects-item__footer {
  background: #fff;
  padding: 0 40px 15px;
  border-radius: 0 0 5px 5px;
  text-align: center; }

.projects-item__footer a {
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #040404;
  text-decoration: underline; }

.projects-item__footer a:hover {
  text-decoration: none; }

.projects-item-label {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: -5px;
  top: 12px; }

.houses-item .projects-item-label {
  left: -15px;
  top: 0; }

.popup-2 .projects-item-label {
  top: 18px; }

.projects-item-label:after {
  display: block;
  content: " ";
  width: calc(100% + 5px);
  height: 2px;
  background: rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: -2px;
  left: 5px;
  z-index: 2; }

.ie8 .projects-item-label:after,
.ie9 .projects-item-label:after {
  display: none; }

.projects-item-label__text {
  display: inline-block;
  vertical-align: top;
  height: 35px;
  min-width: 297px;
  line-height: 33px;
  padding: 0 23px 0 15px;
  border-top: 1px solid #fec18c;
  border-bottom: 1px solid #ed8247;
  border-left: 1px solid #f18a4b;
  background: #fd8821;
  background: -moz-linear-gradient(top, #fd8821 0%, #e8590a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd8821), color-stop(100%, #e8590a));
  background: -webkit-linear-gradient(top, #fd8821 0%, #e8590a 100%);
  background: -o-linear-gradient(top, #fd8821 0%, #e8590a 100%);
  background: -ms-linear-gradient(top, #fd8821 0%, #e8590a 100%);
  background: linear-gradient(to bottom, #fd8821 0%, #e8590a 100%);
  font-family: 'Calibri', sans-serif;
  font-size: 17px;
  color: #fff;
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase; }

.houses-item .projects-item-label__text {
  min-width: 175px; }

.popup-2 .projects-item-label__text {
  min-width: inherit;
  text-transform: none;
  padding-right: 16px; }

.projects-item-label__text:after {
  display: block;
  content: " ";
  width: 12px;
  height: 35px;
  background: url(../images/projects/label1.png) no-repeat left top;
  position: absolute;
  right: -12px;
  top: -1px;
  z-index: 3; }

.ie8 .projects-item-label__text:after,
.ie9 .projects-item-label__text:after {
  display: none; }

.projects-item-label__small-arrow {
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(165, 69, 15, 0);
  border-right-color: #a5450f;
  border-width: 4px;
  margin-top: -4px;
  position: absolute;
  left: -3px;
  bottom: -4px;
  z-index: 1; }

.projects-overlay {
  display: block;
  opacity: 1;
  background: rgba(0, 0, 0, 0.69);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.houses-item__body .projects-overlay {
  left: 12px;
  right: 12px;
  bottom: 12px;
  top: 55px; }

.ie8 .projects-overlay {
  display: none;
  background: #adadad; }

.projects-overlay.__is-shown {
  visibility: visible;
  opacity: 1; }

.projects-overlay.__is-hidden {
  visibility: visible;
  opacity: 0; }

.projects-overlay > a {
  display: block;
  text-decoration: none; }

.projects-overlay__content {
  padding-top: 100px;
  position: relative;
  top: 50px;
  -webkit-transition: top 0.6s;
  -moz-transition: top 0.6s;
  -o-transition: top 0.6s;
  -ms-transition: top 0.6s;
  transition: top 0.6s; }

.projects-overlay__content-item {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px; }

.text-module {
  line-height: 1.1;
  margin-top: -14px; }

.text-module__column {
  float: left;
  width: 48%;
  padding-right: 15px; }

.text-module__column.__2 {
  margin-left: 4%; }

.stages-main {
  background: #fff;
  padding: 20px;
  border: 2px solid #bebebe;
  border-radius: 3px; }

.stages__subheading {
  font-family: 'Calibri', sans-serif;
  font-size: 26px;
  color: #323232;
  font-weight: bold;
  text-align: center;
  margin: -22px 0 14px; }

.stages-image-list__item {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 30px;
  text-align: center; }

.stages-image-list__item.__5,
.stages-image-list__item.__6 {
  margin-bottom: 15px; }

.stages-image-list__item.__5 {
  width: 46%; }

.stages-image-list__item.__6 {
  width: 54%; }

.stages-image-list__item.__6 > img {
  position: relative;
  top: 40px; }

.stages-image-list__heading {
  font-family: 'Calibri', sans-serif;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px; }

.ie8 .stages-image-list__heading {
  font-size: 23px; }

.stages-text-list__item {
  float: left;
  width: 30%;
  margin-left: 5%;
  margin-bottom: 20px; }

.ie8 .stages-text-list__item {
  width: 33%;
  margin-left: 0; }

.stages-text-list__item:nth-child(3n+1) {
  margin-left: 0; }

.payment {
  background: #2d2d2d;
  padding: 12px 20px 0;
  margin-top: -6px; }

.payment-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 47px; }

.payment-item.__logo {
  position: relative;
  top: -18px; }

.ie9 .payment-item,
.ie8 .payment-item {
  display: block;
  float: left;
  margin-right: 20px; }

.houses .container {
  background: #f0f0f0;
  border-bottom: 1px solid #c8c8c8; }

.houses-items {
  padding: 20px;
  border-bottom: 1px solid #c8c8c8; }

.houses-item {
  float: left;
  width: 22.7%;
  background: #fff;
  padding: 10px;
  margin-left: 3%;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  position: relative; }

.houses-item > a {
  display: block;
  text-decoration: none; }

.houses-item:first-child {
  margin-left: 0; }

.houses-item.__is-active:after,
.houses-item.__is-active:before {
  bottom: -21px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.houses-item.__is-active:after {
  border-color: rgba(200, 200, 200, 0);
  border-bottom-color: #f0f0f0;
  border-width: 15px;
  margin-left: -15px; }

.houses-item.__is-active:before {
  border-color: rgba(240, 240, 240, 0);
  border-bottom-color: #c8c8c8;
  border-width: 16px;
  margin-left: -16px; }

.houses-item__header {
  height: 45px;
  position: relative; }

.houses-info__item {
  padding: 20px;
  border-bottom: 1px solid #c8c8c8; }

.houses-info__item__heading {
  font-size: 16px;
  color: #040404;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }

.houses-info__item__column {
  float: left; }

.houses-info__item__column.__1 {
  width: 490px; }

.houses-info__item__column.__2 {
  width: 470px;
  padding-left: 10px; }

.houses-info__item__image-block {
  float: left;
  margin: 0 10px 7px 0; }

.houses-info__details {
  line-height: 1.1;
  font-size: 16px;
  color: #6d6b6b;
  font-style: italic;
  margin-bottom: 10px; }

.houses-info__details__heading {
  font-size: 18px;
  font-weight: bold; }

.houses__price {
  text-align: center; }

.houses__price__heading {
  font-size: 16px;
  color: #6d6b6b;
  font-style: italic;
  margin-bottom: 5px;
  position: relative; }

.houses__price__heading:before {
  display: block;
  content: " ";
  width: 31%;
  height: 1px;
  background: #f0f0f0;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 0)), color-stop(19%, #d6d6d6), color-stop(49%, #d6d6d6), color-stop(79%, #d6d6d6), color-stop(100%, rgba(240, 240, 240, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* W3C */
  position: absolute;
  left: 0;
  top: 7px; }

.houses__price__heading:after {
  display: block;
  content: " ";
  width: 31%;
  height: 1px;
  background: #f0f0f0;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 0)), color-stop(19%, #d6d6d6), color-stop(49%, #d6d6d6), color-stop(79%, #d6d6d6), color-stop(100%, rgba(240, 240, 240, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0%, #d6d6d6 19%, #d6d6d6 49%, #d6d6d6 79%, rgba(240, 240, 240, 0) 100%);
  /* W3C */
  position: absolute;
  right: 0;
  top: 7px; }

.houses__price__number {
  font-size: 18px;
  font-weight: bold;
  color: #010101;
  margin-bottom: 5px; }

.houses__price__button {
  width: 184px;
  height: 42px; }

/* Layer 3 - Cosmetic */
.c_no-margin {
  margin: 0; }

.c_text-center {
  text-align: center; }

.c_no-border-bottom {
  border-bottom: none !important; }
