.hidden{
	display: none;
}
/*.header .header__top .container{
	height: 107px;
}*/
.popup-buy{
	position: fixed;
}

#fancybox-buttons ul {
	width: 130px;
}
#fancybox-buttons ul .btnClose{
	display: none;
}
.fancybox-close {
	top: -13px;
	right: -13px;
	z-index: 8080;
	background: url(../images/popups/popup-close.png) no-repeat;
}

/*.commback{
	padding: 15px 0px 0px 20px;
}
.commback a{
	font-size: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}*/

input:invalid, textarea:invalid {
  background-color: floralwhite;
}

#content .wrapper p {
  word-spacing: 2px;
  margin-bottom: 25px;
}
h4{
	margin-bottom: 10px;
}
h5{
	font-size: 21px;
	letter-spacing: 1px;
	word-spacing: 3px;
}

.advantages-block-sub {
  text-align: left;
  letter-spacing: 1px;
}

.closeForm {
  width: 20px;
  height: 20px;
  background: url(../images/close_form.png) center center no-repeat;
  right: 0px;
  top: 0px;
  background-color: black;
}

.send-review-form__row.__1 input[type="text"], .send-review-form__row.__1 input[type="password"] {
  width: 250px;
}

.mb5{
	margin-bottom: 5px !important;
}
.mb20{
	margin-bottom: 20px !important;
}
.red{
    color: red;
    font-weight: bolder;
}

.cat-v2-item-head:hover{
    text-decoration: underline;
}
.cat-v2-item-btn:hover{
    background-color: #f8a94c;
}