<section class="content-header">
<h1>
  {$strPageName}
  <small>{$strPageSubName|default:""}</small>
</h1>
{*
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Главная</a></li>
  <li class="active">Сводная панель</li>
</ol>
*}
</section>