{include file="default/header.tpl"}

{include file="default/top.tpl"}

<div id="content">
		<div class="wrapper">
			{include file="default/left_column.tpl"}
			
			<div class="column2">
				<div class="text">
					<h1>{$strPageName}</h1>

				</div>
			</div>
		</div>
	</div>	
	
{include file="default/footer.tpl"}