 <!-- Main content -->
 <section class="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
	  <div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-aqua">
		  <div class="inner">
			<h3>0</h3>
			<p>Новые заказы</p>
		  </div>
		  <div class="icon">
			<i class="ion ion-bag"></i>
		  </div>
		  <a href="/admin/orders/" class="small-box-footer">подробная информация <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	  </div><!-- ./col -->	
	  <div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-yellow">
		  <div class="inner">
			<h3>0</h3>
			<p>Новые заявки</p>
		  </div>
		  <div class="icon">
			<i class="ion ion-person-add"></i>
		  </div>
		  <a href="/admin/requests/" class="small-box-footer">подробная информация <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	  </div><!-- ./col -->
	  {*	  
	  <div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-green">
		  <div class="inner">
			<h3>53<sup style="font-size: 20px">%</sup></h3>
			<p>Bounce Rate</p>
		  </div>
		  <div class="icon">
			<i class="ion ion-stats-bars"></i>
		  </div>
		  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	  </div><!-- ./col -->
	  <div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-red">
		  <div class="inner">
			<h3>65</h3>
			<p>Unique Visitors</p>
		  </div>
		  <div class="icon">
			<i class="ion ion-pie-graph"></i>
		  </div>
		  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	  </div><!-- ./col -->
	  *}
	</div><!-- /.row -->
 </section><!-- /.content -->