{*<div class="hidden" id="popup-buy">
    <div class="order-form-container form" >
        <span class="closeForm arcticmodal-close popup-2__close">Close</span>
        <form class="send-request-form">
            <h2>Online заявка*</h2>
            <input type="hidden" name="request-source" value="popup-form">
            <input type="hidden" name="request-type" value="">
            <p><label for="name_str">*Ваше имя:<span></span></label></p>
            <p><input id="name_str" name="name_str" type="text" value=""></p>
            <p><label for="phone_str">*Ваш номер телефона:<span></span></label></p>
            <p><input class="mask_phone" name="phone_str" type="text" value=""></p>
            <input type="checkbox" name="human" class="human">
            <input type="text" name="human_t" class="human">
            <p class="submit">
                <input class="send-data-button" type="submit" onclick="yaCounter24606239.reachGoal('ORDER'); return true;" value="Отправить">
                <span>*поля, обязательные для заполнения</span>
            </p>
        </form>
    </div>
</div>*}

<div class="hidden popup-call" id="popup-buy">
    <div class="arcticmodal-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="order-form-container form" >
        <span class="closeForm arcticmodal-close popup-2__close">Close</span>
        <form class="send-request-form">
            <span>Оставьте Ваши контакты и наш менеджер свяжется с Вами в ближайшее время</span>
            <input type="hidden" name="request-source" value="popup-form">
            <input type="hidden" name="request-type" value="">
			<input type="hidden" name="request-message" value="">
            <p><input id="name_str" name="name" type="text" value="" placeholder="Ваше имя"></p>
            <p><input class="mask_phone" name="phone" type="text" value="" placeholder="Ваш телефон"></p>
            <input type="checkbox" name="human" class="human">
            <input type="text" name="human_t" class="human">
            <p class="submit">
                <input class="promo-contacts__button send-data-button" type="submit" onclick="yaCounter24606239.reachGoal('ORDER'); return true;" value="Перезвонить мне">
            </p>
            <h5>получить бесплатную консультацию по выбору натяжного потолка</h5>
        </form>
    </div>
</div>

{*<div class="hidden popup-call" id="popup-buy">
    <div class="arcticmodal-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="order-form-container works-pop" >
        <span class="closeForm arcticmodal-close popup-2__close">Close</span>
        <form class="send-request-form">
            <span>Оставьте Ваши контакты и наш менеджер свяжется с Вами в ближайшее время</span>
            <input type="hidden" name="request-source" value="popup-form">
            <input type="hidden" name="request-type" value="">
			<input type="hidden" name="request-message" value="">
            <p><input id="name_str" name="name" type="text" value="" placeholder="Ваше имя"></p>
            <p><input class="mask_phone" name="phone" type="text" value="" placeholder="Ваш телефон"></p>
            <input type="checkbox" name="human" class="human">
            <input type="text" name="human_t" class="human">
            <p class="submit">
                <input class="promo-contacts__button send-data-button" type="submit" onclick="yaCounter24606239.reachGoal('ORDER'); return true;" value="Перезвонить мне">
            </p>
        </form>
    </div>
</div>*}

<div class="hidden popup-call" id="popup-custom">
    <div class="arcticmodal-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="order-form-container works-pop clearfix" >        
	<span class="closeForm arcticmodal-close popup-2__close">Close</span>
        <div class="works-pop"></div>
    </div>
</div>