<div class="hidden" id="popup-buy">
    <div class="arcticmodal-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="order-form-container form" >
        <span class="closeForm arcticmodal-close popup-2__close">Close</span>
        <form class="send-request-form">
            <span>Оставьте Ваши контакты и наш менеджер свяжется с Вами в ближайшее время</span>
            <input type="hidden" name="request-source" value="popup-form">
            <input type="hidden" name="request-type" value="">
            <p><input id="name_str" name="name_str" type="text" value="" placeholder="Ваше имя"></p>
            <p><input class="mask_phone" name="phone_str" type="text" value="" placeholder="Ваш телефон"></p>
            <input type="checkbox" name="human" class="human">
            <input type="text" name="human_t" class="human">
            <p class="submit">
                <input class="promo-contacts__button send-data-button" type="submit" onclick="yaCounter24606239.reachGoal('ORDER'); return true;" value="Перезвонить мне">
            </p>
        </form>
    </div>
</div>
