<div class="wrapper">           
            <div class="arct-main">
                <h1>Статьи о натяжных потолках</h1>
                {foreach item=item from=$aItems}
                <div class="arct">
                    <h4 class="to_l"><a href="/articles/{$item.url}" style="" title="{$item.meta_title}">{$item.title}</a></h4>
                    <!--img src=""/-->
                    <p>{$item.text|strip_tags|truncate:350}</p>
                    <noindex><a href="/articles/{$item.url}" rel=”nofollow”>подробнее..</a></noindex>
                </div>
                {/foreach}
                
                


               {* <ul>
                    <li><a href="">В начало</a></li>
                    <li><a href=""><</a></li>
                    <li><a href="" class="arct-active">1</a></li>
                    
                    <li><a href="">В конец</a></li>
                </ul>*}

            </div>
        </div>