<div class="wrapper">           
            <div class="arct-main">
                <h1>{$article.title}</h1>
                
                <div class="">
                    
                    {*<img src=""/>*}
                    {$article.text}
                    
                </div>
                


                

            </div>
        </div>