<div class="wrapper">           
        
	<div class="text-block cont clearfix vcard">
            <h1>Контакты</h1>
            
            <div class="to_l">
                <div>
                    {*<p style = "font-size:30px; padding-left:20%">MSPlus</p>*}
                    <p  class="adr"><span style = "size:18px">Адрес:</span><span style = "color:#f8b334"> г. <span class="locality">Ростов-на-Дону</span></span></p>
                    <p>Телефон: <span style = "color:#f8b334"><span class="tel">+7 (863) 226-74-48</span></span></p>
                    <p>Skype: <span style = "color:#f8b334">oleg_montoia</span></p>
                    <p>e-mail: <span style = "color:#f8b334"><span class="email">info@msplus61.ru</span></span></p> 
                    <!--<p><a href="vk.com/natjazhnye_potolki_rostov">Наша группа VK</a></p>
                    <p><a href="twitter.com/msplus61">Читайте наши новости в Twitter</a></p>-->
                    <p>Время работы: <span style = "color:#f8b334"><span class="workhours">ежедневно <br>с 09:00 до 21:00</span></span></p>
                    <span class="pricerange"><span class="value-title" title="$"/></span>
                    <span class="photo"><span class="value-title" title="http://msplus61.ru/public/web/img/mslogo.jpg"/></span>
                    <p></p>
                </div>
            </div>
            
            <!--div id="map"></div-->
            <div>Компания «<span class="fn org">MSPlus</span>» уже более 9 лет на российском рынке натяжных потолков в Ростове-на-Дону, и c этим именем ассоциируются качество и гарантированное выполнение своих обязательств у всех, кто с нами сотрудничает.
                
            <p style="margin:25px 0 120px 0;">Задайте свой вопрос или вызовите специалиста и Вы сами убедитесь, что ремонт - не такая уж большая проблема.</p></div>
            
	</div>
    <img class="bg-cont" src="/public/web/img/bg-cont.jpg" title="Натяжные потолки в Ростове-на-Дону"/>
</div>
<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU"></script>
